sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"SRALPE+Î¢ÈíÑÅºÚ";
	src:url("f29d6e64-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 2.33em;
	font-family: "SRALPE+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #49ACC4;
}
.stl_08 {
	line-height: 1.319824em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0px;
}
.stl_10 {
	font-size: 1.17em;
	font-family: "SRALPE+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0034em;
}

.ie .stl_11 {
	letter-spacing: -0.064px;
}
@font-face {
	font-family:"ASUCUJ+Î¢ÈíÑÅºÚ,Bold";
	src:url("cf88f3b6-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 0.92em;
	font-family: "ASUCUJ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #49ACC4;
}
.stl_13 {
	font-size: 0.83em;
	font-family: "SRALPE+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0.0162em;
}

.ie .stl_14 {
	letter-spacing: 0.2145px;
}
.stl_15 {
	letter-spacing: 0.0163em;
}

.ie .stl_15 {
	letter-spacing: 0.2162px;
}
.stl_16 {
	letter-spacing: 0.0011em;
}

.ie .stl_16 {
	letter-spacing: 0.0145px;
}
@font-face {
	font-family:"FNDHDR+Î¢ÈíÑÅºÚ";
	src:url("010f1b94-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_17 {
	font-size: 0.83em;
	font-family: "FNDHDR+Î¢ÈíÑÅºÚ";
	color: #000000;
}
.stl_18 {
	letter-spacing: 0.0074em;
}

.ie .stl_18 {
	letter-spacing: 0.0977px;
}
.stl_19 {
	letter-spacing: 0.0033em;
}

.ie .stl_19 {
	letter-spacing: 0.0445px;
}
.stl_20 {
	font-size: 0.79em;
	font-family: "ASUCUJ+Î¢ÈíÑÅºÚ,Bold", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"IRTCUK+Î¢ÈíÑÅºÚ,Bold";
	src:url("b9db5962-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_21 {
	font-size: 0.79em;
	font-family: "IRTCUK+Î¢ÈíÑÅºÚ,Bold";
	color: #000000;
}
.stl_22 {
	letter-spacing: 0.0806em;
}

.ie .stl_22 {
	letter-spacing: 1.0183px;
}
.stl_23 {
	font-size: 0.79em;
	font-family: "SRALPE+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_24 {
	letter-spacing: 0.0762em;
}

.ie .stl_24 {
	letter-spacing: 0.9633px;
}
.stl_25 {
	font-size: 0.79em;
	font-family: "FNDHDR+Î¢ÈíÑÅºÚ";
	color: #000000;
}
.stl_26 {
	letter-spacing: 0.0452em;
}

.ie .stl_26 {
	letter-spacing: 0.5718px;
}
.stl_27 {
	font-size: 0.92em;
	font-family: "FNDHDR+Î¢ÈíÑÅºÚ";
	color: #000000;
}
.stl_28 {
	letter-spacing: 0.0388em;
}

.ie .stl_28 {
	letter-spacing: 0.5718px;
}
.stl_29 {
	letter-spacing: 0.0792em;
}

.ie .stl_29 {
	letter-spacing: 1.0016px;
}
.stl_30 {
	font-size: 0.75em;
	font-family: "SRALPE+Î¢ÈíÑÅºÚ", "Times New Roman";
	color: #000000;
}
.stl_31 {
	letter-spacing: -0.0465em;
}

.ie .stl_31 {
	letter-spacing: -0.558px;
}
.stl_32 {
	letter-spacing: 0.0796em;
}

.ie .stl_32 {
	letter-spacing: 1.0058px;
}
.stl_33 {
	letter-spacing: -0.0027em;
}

.ie .stl_33 {
	letter-spacing: -0.0405px;
}
.stl_34 {
	letter-spacing: 0.0014em;
}

.ie .stl_34 {
	letter-spacing: 0.0174px;
}
.stl_35 {
	letter-spacing: 0.0024em;
}

.ie .stl_35 {
	letter-spacing: 0.0303px;
}
.stl_36 {
	letter-spacing: 0.0795em;
}

.ie .stl_36 {
	letter-spacing: 1.0047px;
}
.stl_37 {
	letter-spacing: -0.278em;
}

.ie .stl_37 {
	letter-spacing: -3.5139px;
}
.stl_38 {
	letter-spacing: -0.405em;
}

.ie .stl_38 {
	letter-spacing: -5.1192px;
}
.stl_39 {
	letter-spacing: 0.0663em;
}

.ie .stl_39 {
	letter-spacing: 0.8384px;
}
.stl_40 {
	letter-spacing: 0.0015em;
}

.ie .stl_40 {
	letter-spacing: 0.019px;
}
@font-face {
	font-family:"EUEWQN+Wingdings";
	src:url("029fa2df-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_41 {
	font-size: 0.79em;
	font-family: "EUEWQN+Wingdings", "Times New Roman";
	color: #000000;
}
.stl_42 {
	line-height: 1.109863em;
}
.stl_43 {
	letter-spacing: 0.0006em;
}

.ie .stl_43 {
	letter-spacing: 0.0071px;
}
.stl_44 {
	letter-spacing: -0.127em;
}

.ie .stl_44 {
	letter-spacing: -1.6053px;
}
.stl_45 {
	letter-spacing: -0.0022em;
}

.ie .stl_45 {
	letter-spacing: -0.0274px;
}
.stl_46 {
	letter-spacing: -0.063em;
}

.ie .stl_46 {
	letter-spacing: -0.7963px;
}
.stl_47 {
	letter-spacing: 0.1026em;
}

.ie .stl_47 {
	letter-spacing: 1.2969px;
}
.stl_48 {
	letter-spacing: 0.1em;
}

.ie .stl_48 {
	letter-spacing: 1.264px;
}
.stl_49 {
	letter-spacing: -0.0028em;
}

.ie .stl_49 {
	letter-spacing: -0.0405px;
}
.stl_50 {
	letter-spacing: 0.0811em;
}

.ie .stl_50 {
	letter-spacing: 1.0253px;
}
.stl_51 {
	letter-spacing: 0.0836em;
}

.ie .stl_51 {
	letter-spacing: 1.0564px;
}
.stl_52 {
	letter-spacing: -0.0261em;
}

.ie .stl_52 {
	letter-spacing: -0.3295px;
}
.stl_53 {
	letter-spacing: 0.0809em;
}

.ie .stl_53 {
	letter-spacing: 1.0221px;
}
